/* Header Style */
.header{
    display: flex;
    align-items: center;
    height: var(--size-6xl);
    background: var(--clr-slate900);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .navbar__name{
    text-transform: uppercase;
}
.navbar__span{
    color: var(--clr-rose600);
}
.navbar__menus{
    display: flex;
    gap: var(--size-5xl);
}
/* Menu */
.menu__list a{
    text-transform: uppercase;
}
.menu__list a:hover{
    color: var(--clr-rose600);
    transition: 0.3s ease;
}
.menu__list{
    display: none;
}

/* Hamburger start */
.menu-icon {
    display: inline-block;
    cursor: pointer;
    top: 20px; 
    right: 20px; 
  }

  .bar {
    display: block;
    width: 26px;
    height: 3px;
    margin: 4px 0;
    background-color: var(--clr-white);
  }

  /* sm */
@media(min-width: 640px){ 
    .menu__list{
        display: block;
    }
    .bar{
        display: none;
    }
}

/* Section1 */
.section__profile{
    text-align: center;
}
.section__profile img {
    max-height: 500px;
    width: 160px;
    border-radius: 6px;
    margin-top: var(--size-xl);
}

.section__name{
    color: var(--clr-white);
    font-size: var(--size-2xl);
    text-transform: uppercase;
}
.section__job{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--size-md);
}
.section__span{
    color: var(--clr-rose600);
    margin-left: 8px;
}
.section__introduction h5{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: var(--size-4xl);
}
.section__introduction{
    text-align: justify;
    margin-top: 0.5rem;
    color: var(--clr-white);
    padding: 0 10px;
}
.section__course{
    text-align: center;
    text-transform: uppercase;
    font-size: var(--size-xxs);
    color: var(--clr-white);
    padding: 1rem 0;
    background: #adadad52;
    border-radius: 6px;
    margin-top: var(--size-2xl);

}
/* md */
@media(min-width: 768px){
    .section__profile img{
        width: 160px;
        height: 180px;
        /* border-radius: 100px; */
    }
    .section__name{
        font-size: var(--size-2xl);
        margin-top: var(--size-xl);
    }
    .section__job{
        font-size: var(--size-xl);
    }
    hr{
        margin: 5px 0;
    }
    .section__introduction{
       font-size: var(--size-lg);
    }
    .section__course{
        font-weight: 900;
        font-size: var(--size-xl);
        padding: 1rem 0;
        margin-top: var(--size-7xl);
        margin-bottom: var(--size-6xl);
        border-radius: 6px;
    }
}
/* lg */
@media(min-width: 1024px){
    .section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .section__profile{
        width: 90%;
    }
    .section__profile img{
        width: 250px;
        height: 280px;
        /* border-radius: 100px; */
    }
    .section__profile{
        margin-top: var(--size-4xl);
    }
    .section__name{
        font-size: var(--size-4xl);
    }
    .section__introduction h5{
        margin-top: var(--size-4xl);
       text-align: center;
    }

    .section__introduction{
        text-align: justify;
        width: 90%;
    }
    hr{
        margin-top: 12px;
    }
}

/* section2 */
.main__page2{
    overflow: hidden;
    position: relative;
    background: var(--clr-slate900);
    height: 100%;
    padding-bottom: var(--size-4xl);
}
.section2__bg__rocket img{
    width: 900px;
    position: absolute;
    opacity: 2%;
    z-index: 1;
    top: -120px;
    left: 0;
}
.section2__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--size-lg);
    color: var(--clr-white);
    gap: 12px;
}
.section2__about h1{
    display: flex;
    justify-content: center;
    align-items: start;
    text-transform: uppercase;
    font-size: var(--size-2xl);
}
.section2__img img{
   display: none;
   max-height: 400px;
   border-radius: 6px;
}
.section2__about p{
    text-align: justify;
    align-items: center;
    padding: 10px;
    background: #a1a1a10c;
    z-index: 1;
}
/* xs */
@media(min-width: 475px){
    .section2__bg__rocket img{
        top: -250px;
    }
}

/* lg */
@media(min-width: 1024px){
    .section2__about{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    .section2__img{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .section2__img img{
        display: block;
        max-height: 400px;
     }
    .section2__about h1{
        font-size: var(--size-5xl);
        width: 40%;  
    }
    .section2__about p{
        width: 60%;
    }
    .section2__hr{
        margin: 0 auto;
        width: 100%;
    }
}
/* Section services */
  .section2__main__box {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }
.section2__heading h1{
    margin-top: 1rem;
    text-align: center;
    color: var(--clr-white);
    text-transform: uppercase;
    font-size: var(--size-2xl);
}

  .section2__box__item {
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
  }

  .section2__box__link {
    display: block;
    padding: 30px 20px;
    background-color: #9b9b9b34;
    overflow: hidden;
    position: relative;
  }

  .section2__box__link:hover,
  .section2__box__link:hover {
    text-decoration: none;
    color: var(--clr-white);
  }
  .section2__box__link:hover .section2__box__bg {
    transform: scale(10);
  }
  
  .section2__service {
    position: relative;
    min-height: 80px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: var(--clr-white);
    z-index: 2;

  }
  .ag-courses-item_date-box {
    position: relative;
    font-size: 18px;
    color: var(--clr-white);
    z-index: 2;

  }

  .section2__box__bg {
    position: absolute;
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
  }

  .section2__box__item:nth-child(2n) .section2__box__bg {
    background-color: #3ecd5e;
  }
  .section2__box__item:nth-child(3n) .section2__box__bg {
    background-color: #e44002;
  }
  .section2__box__item:nth-child(4n) .section2__box__bg {
    background-color: #952aff;
  }

  /* sm */
@media(min-width: 640px){
    .section2__main__box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      .section2__box__item {
        flex-basis: calc(50% - 20px);
        margin: 10px;
      }
}
/* xl */
@media(min-width: 1280px){
    .section2__box__item {
        flex-basis: calc(40% - 20px);
        margin: 10px;
      }
}

